.blog {
    @include flex(column,nowrap,center,center,center);
    &_box.-container {
        width: 100%;
        display: grid;
        grid-template-columns:  auto auto;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "content content"
            "n1 n1"
            "n2 n2"
            "n3 n3"
            "n4 n4"
            "n4 n4"
            "n5 n5";
        grid-gap: 1em;
    }
    &_minorHeader {

    }
    &_paragraph {

    }
    &_box.-content {
        grid-area: content;
    }
    &_blogItem {
        background-color: red;
        &.-n1 {
            grid-area: n1;
        }
        &.-n2 {
            grid-area: n2;
        }
        &.-n3 {
            grid-area: n3;
        }
        &.-n4 {
            grid-area: n4;
        }
        &.-n5 {
            grid-area: n5;
        }
    }
    @include screen(mobile) {
        &_box.-container {
            grid-template-rows: repeat(6, auto);
            grid-template-areas:
                "content content"
                "n1 n1"
                "n2 n3"
                "n4 n4"
                "n4 n4"
                "n5 n5";
        }
    }
    @include screen(desktop) {
        &_box.-container {
            grid-template-columns: repeat(4, calc(25% - 1.2em));
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
                "content content n4 n4"
                "n1 n1 n4 n4"
                "n2 n3 n5 n5";
            grid-gap: 1.2em;
        }

    }
}
