.contactForm {
    @include flex(column,nowrap);
    &_heading {
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 2em;
    }
    &_form {
        width: 90%;
        max-width: 20em;
    }
    &_box.-pair {
        @include flex(column);
        margin-bottom: 1em;
    }
    &_label {
        font-weight: bold;
        margin-bottom: .5em;
    }
    &_input {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        background-color: #2b2b2b;
        border: none;
        border-radius: 1em;
        padding: .5em 1em;
        color: white;
        transition: $timeFast;
    }
    &_input:hover,
    &_input:focus {
        background-color: #eaeaea;
        color: darken($colorScorpion, 14%);
        outline: none;
    }
    &_input.-textarea {
        height: 5em;
        resize: none;
    }
    &_submit {
        background-color: $colorAzureRadiance;
        margin-top: 1.5em;
    }
    &_submit:hover,
    &_submit:focus {
        background-color: lighten($colorAzureRadiance, 12%);
    }
    @include screen(tablet) {
        &_box.-pair {
            @include flex(row, nowrap, flex-start, center);
        }
        &_label {
            margin-bottom: 0;
            width: 7em;
        }
        &_label.-message {
            align-self: flex-start;
        }
        &_form {
            width: 96%;
            max-width: 30em;
        }
        &_input {

        }
        &_submit {
            margin-left: 5.5em;
        }
    }
}
