.contact {
    @include flex(column, nowrap,center,center,center);
    background-color: black;
    background-image: url('../assets/phone-screen-min.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    &:before {
        background-color: rgba(black, .85);
    }
    &_heading,
    &_addressInfo,
    &_contactForm,
    &_socials {
        position: relative;
        z-index: 5;
    }
    &_heading {

    }
    &_addressInfo {

    }
    &_contactForm {

    }
    &_socials {

    }
}
