.header {
    @include flex(column,nowrap,center,flex-start,center);
    background-color: black;
    background-image: url('../assets/office-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 7em;
    padding-bottom: 7em;
    &:before {
        background-color: rgba(black,0.85);
    }
    &_decoration {
        position: absolute;
        z-index: 4;
        bottom: -5%;
        right: 3%;
        width: 45%;
        height: 85%;
        background-image: url('../assets/man-min.png');
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
    }
    &_box.-content {
        @include flex(column,nowrap,center,flex-start,center);
        width: 100%;
        position: relative;
        z-index: 5;
    }
    &_heading {
        font-weight: 900;
        font-size: 2.5em;
        margin: 0;
    }
    &_text {
        display: block;
        font-size: .8em;
        margin-bottom: .8em;
    }
    &_subHeading {
        font-family: $fontHeadings;
        font-size: 1.8em;
        margin: .2em 0;
    }
    &_paragraph {
        margin: 2.5em 0;
    }
    &_button {
        margin: 2em 1em 0 1em;
    }
    @include screen(mobileBig){
        &_box.-content {
            width: 75%;
        }
    }
    @include screen(tablet) {
        &:before {
            background-color: rgba(black,0.7);
        }
        &_box.-content {
            width: 60%;
        }
    }
    @include screen(desktop) {
        &_box.-content {
            width: 65%;
        }
    }
    @include screen('min-width: 1400px'){
        &_box.-content {
            width: 50%;
        }
        &_decoration {
            right: 13%;
            width: 50%;
        }
    }
}
