.root {
    &_navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        height: 0;
        transition: $timeMedium;
    }
    &_navbar.-active {
        height: 100vh;
    }
    &_header {
        min-height: 100vh;
    }
    &_main {

    }
    &_footer {

    }
    @include screen(desktop) {
        &_navbar {
            height: auto;
        }
        &_navbar.-active {
            height: auto;
        }
    }
}
