.socials {
    @include flex(row,wrap,center,center,center);
    padding: 0 1em;

    &_item {
        font-size: 2em;
        margin: .5em;
        padding: 0;
    }
    &_link {
        @include flex(row, nowrap,center,center,center);
        box-sizing: border-box;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        transition: $timeFast;
        position: relative;
        z-index: 6;
    }
    &_link:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        border: .13em solid white;
        z-index: 7;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform-origin: center center;
        transition: $timeFast;
    }
    &_link:hover,
    &_link:focus {
        color: $colorAzureRadiance;
        background-color: black;
        outline: none;
    }
    &_link:hover:before,
    &_link:focus:before {
        transform: rotate(-100deg) scaleX(1.1);
    }
    &_icon {

    }
}
