$fontMain: 'Lato', sans-serif;
$fontHeadings: 'Montserrat', sans-serif;
$fontFancy: 'Leckerli One', cursive;


// font-family: 'Leckerli One', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Lato', sans-serif;
