html {
    font-size: 12px;
    @include screen(tablet) {
        font-size: 14px;
    }
    @include screen(desktop) {
        font-size: 16px;
    }
    @include screen('min-width: 1800px') {
        font-size: 18px;
    }
    @include screen('min-width: 2200px') {
        font-size: 20px;
    }
    @include screen('min-width: 2600px') {
        font-size: 22px;
    }
}
body {
    font-family: $fontMain;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.25;
    margin: 0.8em 0;
    font-family: $fontHeadings;
}
h1 { font-size: $size-1;}
h2 { font-size: $size-2;}
h3 { font-size: $size-3;}
h4 { font-size: $size-4;}
h5 { font-size: $size-5;}
h6 { font-size: $size-6;}
p  { line-height: 1.5em;}

button, input, optgroup, select, textarea {
    font-family: $fontMain;
}
nav,main,aside,article,section,footer,header,figure,div,address {
    box-sizing: border-box;
}
