._box{
    &-clear{
        display: block;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    &-main{
        padding-left: 5%;
        padding-right: 5%;
        @include screen(tablet) {
            padding-left: 10%;
            padding-right: 10%;
        }
        @include screen(desktop) {
            padding-left: 15%;
            padding-right: 15%;
        }
    }
}
